<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Your Message Subject or Title</title>

</head>
<body>

	<h1>Spring Boot Application - User Activation</h1>

	<p th:text="|Dear ${user.getFullName()}|">Dear UserName</p>

	<P>Thank you for signing up for a free account with us at Spring
		Boot Application (Demo). Please click on the link to activate your
		account.</P>

	<a
		th:href="${baseURL} + '/activate/' + ${user.getEmail()} + '/' + ${user.getActivationCode()}">Activate
		Account</a>
		

</body>
</html>